export(xMSwrapper, xMSwrapper.apLCMS,xMSwrapper.XCMS.matchedFilter,
feat.batch.annotation.KEGG, getVenn, getVennmultiple,evaluate.Samples,
evaluate.Features,find.Overlapping.mzs,check.mz.in.replicates,
merge.Results, apLCMS.align,XCMS.align.centWave, getCVreplicates.child,
xMSwrapper.XCMS.centWave,XCMS.align.matchedFilter, countpeaks,
MetabComBat)
